.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.game-info {
	margin-top: 5rem;
	font-size: 3rem;
}

.game-title {
	margin-bottom: 3rem;
	font-size: 3rem;
}

.status {
	margin-bottom: 10px;
}
